# google github action context function or expression features  for more info
name: Output Information
on: workflow_dispatch
jobs:
  info:
    runs-on: ubuntu-latest
    steps:
      - name: Output Github Context
        run: echo "{{toJSON(github)}}"



